@font-face{
    font-family: "Bold";
    src: url(font-style/Trade_Gothic_LT_Std_Bold_Ext.otf);
    font-weight: normal;

    font-style: normal;
}
@font-face{
    font-family: "Extended";
    src: url(font-style/TradeGothicLTStd-Extended.otf);
    font-weight: normal;

    font-style: normal;
}
@font-face{
    font-family: "Ogg Roman";
    src: url(font-style/Ogg-Roman.otf);
    font-weight: normal;

    font-style: normal;
}

html{
width: 100%;
position: relative;
}

body{
 position: relative;
margin: 0;
}
#showfields{
    position: relative;
}
#showfields .covid{
    width: 100%;
    height: 27px;
    background-color: #f2f2f2;
    margin-bottom: 7px;
    
}
#showfields .covid p{
    color: #000000;
    font-family: 'Extended', sans-serif;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
}
#showfields .search{
    right: 0;
    position: absolute;    
}
#showfields .search ul{
    margin: 0; 
    padding: 4px;
}
#showfields .search ul li{
    display: inline;
}
#showfields .search a{
    text-decoration: none;
    margin-right: 12px;
}

#showfields .logo{
    text-align: center;
    margin: auto;
    margin-top: 33px;
    width: 20%;
}
#showfields .logo div{
    margin: 4px;
}

#showfields .nav{
    text-align: center;
    margin: 16px 0 42px 0;
}
#showfields .nav a{
    margin-right: 20px;
    font-family: "Bold";
    font-size: 14px;
    cursor: pointer;
}

#showfields .nav a:last-child{
    margin-right: 0;
}
#curations{
    width: 100%;
    background-color: #000000;
    text-align: center;
}
#curations div{
    text-align: center;
}
#curations h2{
    color: #ffffff;
    font-family: "Ogg Roman";
    font-size: 61px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 122px;
    margin: 0;
}
#curations .Ourweekly{
    max-width: 688px;
    color: #ffffff;
    font-family: 'Extended', sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin: auto;
}
#upcoming {
    position: relative;
    background-image: url(geometry/part1/Group_6.png);
    background-size: 100%;
    padding: 3%;
}
#upcoming h2{
    font-family: "Ogg Roman";
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

#upcoming img {
        height: 119px;
        position: absolute;
}
#upcoming .group_6{
    right: 10px;
    top: 32px;
}
#upcoming .group_7{
    left: 40px;
    top: 13px;
}
#rectangle{
width: 100%;
background-color: #f4bab5;
position: relative;
}
#rectangle .group_58{
    margin: 0px;
    width: 452px;
    height: 452px;
}
#rectangle .group_58 .border{
    background-image: url(group/group_58.png);
    text-align: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#rectangle .group_58 .photo{
    
    position: absolute;
    top: 110px;
    left: 120px;

}
#rectangle .live-recording{
    font-family: "Bold";
    font-size: 11px;
    margin: 0px auto 15px;
    padding: 5px 25px 5px 25px;
    border: 2px solid #000000 ;
    border-radius: 12px;
    display: block;
    width: 156px;
}


#rectangle span .point {
    width: 10px;
    height: 10px;
    background-color: #b3f695;
    border-radius: 5px;
    float: left;
    margin-top: 2px;
}
#rectangle .group_58 button div{
border-radius: 5px;
width: 10px;
height: 10px;
background-color: #b3f695;
margin: 0;
}
#rectangle .text{
    float: right;
    width: 619px;
    margin-top: 30px;
    margin-right: 44px;
    text-align: center;
}
#rectangle .one{
    height: 34px;
    color: #000000;
    font-family: "Bold";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;
}
#rectangle .two{
    color: #000000;
    font-family: "Ogg Roman";
    font-size: 61px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 63px;
    text-align: center;
    margin-bottom: 40px;
}
#rectangle .three{
    font-family: 'Extended', sans-serif;
    max-width: 400px;
    height: 113px;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
#rectangle .RSVP {
    max-width: 190px;

    border: 2px solid #000000;
    bottom: 0px;
    margin: auto;
    padding: 12px 10px 7px 10px;
    font-family: 'Bold';
    font-weight: 700;
}
#rectangle .pagination{ 
    height: 11px;
    position: absolute;
    bottom: 17px;
    left: 46%;
}
.page{
    width: 9px;
    height: 9px;
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.page:last-child{
    margin-right: 0px;
}
#rectangle .pagination .active{
    width: 9px;
    height: 9px;
    background-color: #000000;
    cursor: context-menu;
}

#WatchRecent{
    width: 100%;
    position: relative;
    text-align: center;
}

#WatchRecent .CurationItems .Item .bg-img{
    position: absolute;
    z-index: -1;
}
.lf-tp{
    top: -2%;
    left: 85px;
}
.mid-mid   {   
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rg-tp{
    top: -1%;
    left: 39%;
}
.rg-mid{
    top: 45px;
    left: 200px;
}
.mid-tp{
    top: -24px;
    left: 10%;
}

.front_1{
    position: absolute;
    top: -40px;
    left: 60px;
}
.front_2{
    position: absolute;
    top: -2%;
    left: 70%;
}
#WatchRecent h2{
    height: 90px;
    color: #000000;
    font-family: "Ogg Roman";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    margin: 52px 0 15px 0;
}

#WatchRecent .CurationItems{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    padding-bottom: 50px;
}

#WatchRecent .CurationItems .Item {
    height: 292px;
    position: relative;
    text-align: center;
    background-image: url(photo/frame.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 160px 195px;
}

#WatchRecent .CurationItems .Item .parson{
    margin-top: 10px;
    height: 160px;
}
footer{
    padding: 80px 50px;
    background-color: #f2f2f2;

}
footer .footer{
    width: 100%;
    display: flex;
    
}

footer .footer .footer-col{
    font-family: "Bold";
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 17px;
    text-align: left;
    width: -webkit-fill-available;
    margin: auto;
    margin-top: 0;
}
.mob{
    display: none;
}
footer .footer .footer-col .list{
    display: grid;
}
footer .footer .footer-col .list a{
font-family: "Bold";
font-size: 11px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 17px;
text-align: left;
text-decoration: none;
color: black;
}
footer input{
    width: 100%;
    color: #9f9c9c;
    background: transparent;
    border: none;
    padding-left: 0;
    padding-top: 0;
    border-bottom: 2px #000 solid;
    outline: none;
    width: 100%;
    font-size: 11px;
    font-family: 'Bold';
}


@media (max-width: 700px) {
    #showfields .covid {
        width: 100%;
        background-color: #f2f2f2;
        margin-bottom: 7px;
    }
    .mob{
        display: block;
    }
    .max{
        display: none;
    }
    #showfields .covid p{
        font-size: 8px;
        width: 50%;
        margin: auto;
        position: relative;
        top: 10px;
    }
    #showfields .nav{
        display: none;
    }
    #showfields .logo{
        margin-top: 25px;
        width: 100%;
        height: 100%;
    }
    #showfields .logo div{
        margin: 4px;
    }

    #curations{
        width: 100%;
        height: 315px;
        background-color: #000000;
        text-align: center;
    }
    #curations div{
        text-align: center;
    }
    #curations h2{
        height: 75px;
        font-size: 25px;
        line-height: 63px;
    }
    #curations .Ourweekly{
        width: 93%;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 25px;
        margin: auto;
    }
    #upcoming h2{
        width: 320px;
        font-size: 25px;
        line-height: 40px;
    }
    
    #upcoming img {
            height: 119px;
            position: absolute;
    }
    #upcoming .group_6{
        right: 10px;
        top: 32px;
    }
    #upcoming .group_7{
        left: 40px;
        top: 13px;
    }
    #rectangle{
        height: 100%;
    width: 100%;
    text-align: center;
    }
    
    #rectangle .group_58 .border{
        background-size: 210px;
    }

    #rectangle .text {
        float: none;
        width: 100%;
        margin-top: auto;
        text-align: center;
    }
    
    #rectangle .group_58{
        width: 100%;
        position: absolute;
        top: 0px;
    }
    #rectangle .group_58 .photo{
        width: 150px;
        margin: auto;
        position: initial;
        margin-top: 150px;
       
    }
    #rectangle button{
        width: 208px;
        height: 31px;
        border-radius: 8px;
        border: 1px solid #000000;
        margin-top: 40px;
    }
    #rectangle .group_58 button {
        border-radius: 5px;
        margin: 10px;
        width: 208px;
        height: 31px;
        border-radius: 8px;
        border: 1px solid #000000;
    }
    
    #rectangle .one{
        font-size: 16px;
        padding-top: 24px;
    }
    #rectangle .two{
        font-size: 25px;
        line-height: 0px;
        margin-top: 10px;
    }
    
    #rectangle .three{
        width: 80%;
        line-height: 20px;
        text-align: center;
        margin-top: 250px;
    }
    #rectangle .RSVP{
        width: 195px;
        height: 20px;
        border: 1px solid #000000;
        background-color: #000000;
        color: white;
        bottom: 0px;
    }
    #rectangle .pagination{ 
        height: 11px;
        position: absolute;
        bottom: 11px;
        left: 46%;
    }
    .page{
        width: 9px;
        height: 9px;
        border: 1px solid #000000;
        border-radius: 5px;
        float: left;
        margin-right: 5px;
    }
    .page:last-child{
        margin-right: 0px;
    }
    #rectangle .pagination .active{
        width: 9px;
        height: 9px;
        background-color: #000000;
    }
    
    #WatchRecent{
        width: 100%;
        text-align: center;
    }
    
    #WatchRecent h2{
        width: 87%;
        height: 68px;
        font-size: 25px;
        line-height: 30px;
        margin: 32px 0 15px 0;
    }

    #WatchRecent .CurationItems{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #WatchRecent ul li{
        width: 49%;
    }
    #WatchRecent .frame{
        height: 93px;
        display: none;
    }
    #WatchRecent .parson{
        height: 79px;
    }
    footer{
        padding: 35px 25px;
    
    }
    footer .footer{
        width: 100%;
        display: block;
        
    }
    
    
    footer .footer .footer-col{
        width: 100%;
        border-bottom: 2px #000 solid;
    }
    footer .footer .footer-col .list{
        display: none;
    }
    footer .footer .footer-col p {
        width: 100%;
        position: relative;
    
    }

    footer .footer .footer-col input{
        border-bottom: 1px #000 solid;
    }
    footer .footer .footer-col p:after {
        content: '+';
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 20px;
        line-height: 15px;
        color: #000;

    }

}